.heading {
  width: 100%;
  background-color: #ff6666;
  color: 9b88b4;
}

.navbar{
  background: #FF4C4C;
}


.logo {
    display: block;
    height: auto;
    width: 70px;
    padding-top: 1px;
    margin-right: 1px;
}

html,
body {
  margin: 0;
  height: 100%;
}

.size-label {
  display: inline-block;
  padding: 2px;
}

.intro-components {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
